* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* color: white; */
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw 0;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(173, 232, 255);
}
#page3 {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #box {
  height: 300px;
  width: 300px;
  background-color: crimson;
} */

/* h1 {
  font-size: 50px;
  position: relative;
  background-color: red;
  padding: 10px;
} */
h2 {
  font-size: 35vw;
  font-weight: 500;
  text-transform: uppercase;
}
